.product_row{
    display: flex;
    flex-wrap: wrap;
    margin:  auto;
    width: 100%;
    background: #131516;
    justify-content: center;
}

.custom{
    background: #131516;
    color: white;
}