#grey {
  background-color: #d1d1d1;
}

.sect {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0;
  border: 0;
}

.left-items,
.right-items {
  width: 50vw;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.left-items {
  text-align: center;
  margin-top: 10%;
}

.right-items {
  margin-top: 10%;

  text-align: center;
  width: 70%;
}

.empty-left-red {
  height: 200px;
  background: rgb(182, 62, 66);
  background: linear-gradient(
    0deg,
    rgba(182, 62, 66, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.empty-right {
  height: 200px;
  background: rgb(104, 104, 102);
  background: linear-gradient(
    0deg,
    rgba(104, 104, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.left {
  background-color: rgb(182, 62, 66);
}

.right {
  background-color: #686866;
}
.left img {
  width: calc(50vw - 20%);
  margin: 20px auto 0;
}

.empty-left-down {
  height: 200px;
  background: rgb(209, 209, 209);
  background: linear-gradient(
    0deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(182, 62, 66, 1) 100%
  );
}

.empty-right-down {
  height: 200px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(104, 104, 102, 1) 100%
  );
}

.empty-left-2 {
  height: 200px;
  background: rgb(182, 62, 66);
  background: linear-gradient(
    0deg,
    rgba(182, 62, 66, 1) 0%,
    rgba(104, 104, 102, 1) 100%
  );
}

.bg-white {
  background-color: white;
}

.empty_white {
  height: 200px;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    0deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(104, 104, 102, 1) 100%
  );
}

.grey {
  background-color: rgb(210, 210, 210);
}

@media screen and (max-width: 991px) {
  .sect {
    display: flex;
    flex-direction: column;
  }

  .sect_reverse {
    flex-direction: column-reverse;
  }

  .empty-left-down {
    /* display: none; */
  }

  .clear_small {
    display: none;
  }

  .clear_small_grey {
    display: none;
  }
}
